@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book Library</h1>
    <p class="lead">This is test site to manage your book library</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Developed from scratch</h2>
        <p>
            Using latest technologies.
        </p>
    </div>
</div>